body {
	background: #ffffff;
	color: #222222;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	cursor: pointer;
	border: 3px solid #cccccc;
}

.avatar:hover {
	border-color: #33c3f0;
}

#you {
	margin: 20px 0px;
}

#you .avatar {
	cursor: auto;
	border-color: #33c3f0;
}

#room-form {
	max-width: 500px;
	margin: 0 auto;
	display: none;
}